.button--primary {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--white);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--yellow-200);
  border-radius: var(--radius-30);
}

.button--primary:hover {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--yellow-100);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--yellow-100);
  border-radius: var(--radius-30);
}

.button--primary:active {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--yellow-200);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--yellow-200);
  border-radius: var(--radius-30);
}

.button--primary:disabled {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--yellow-100);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--yellow-100);
  border-radius: var(--radius-30);
  opacity: var(--opacity-40);
}

.button--secondary {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--white);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--blue-200);
  border-radius: var(--radius-30);
}

.button--secondary:hover {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--blue-100);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--blue-100);
  border-radius: var(--radius-30);
}

.button--secondary:active {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--blue-200);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--blue-200);
  border-radius: var(--radius-30);
}

.button--secondary:disabled {
  appearance: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-500);
  font-size: var(--text-font-size);
  color: var(--black);
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
  background-color: var(--blue-100);
  margin: var(--margin-5);
  padding: var(--padding-8-25);
  border-width: var(--width-3);
  border-style: var(--solid-border);
  border-color: var(--blue-100);
  border-radius: var(--radius-30);
  opacity: var(--opacity-40);
}
