.div--buttons {
  display: flex;
  margin: var(--margin-10);
}

.div--inputs {
  display: flex;
  align-items: flex-end;
  margin: var(--margin-10);
}

.div--nav {
  display: flex;
  justify-content: center;
  width: var(--width-1137);
}
