.regular--input {
  background-color: var(--white);
  border-color: var(--white);
}

.regular--input::placeholder {
  color: var(--dark-gray);
}

.regular--input:focus {
  background-color: var(--white);
  border-color: var(--blue-100);
}

.regular--input:disabled {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  opacity: var(--opacity-40)
}

.special--input {
  background-color: var(--yellow-50);
  border-color: var(--yellow-50);
}

.special--input::placeholder {
  color: var(--yellow-700);
}

.valid--input {
  background-color: var(--green-50);
  border-color: var(--green-50);
}

.valid--input::placeholder {
  color: var(--green-500);
}

.invalid--input {
  background-color: var(--red-50);
  border-color: var(--red-50);
}

.invalid--input::placeholder {
  color: var(--red-500);
}
