body {
  color: var(--black);
  font-family: var(--font-montserrat);
  font-size: var(--text-font-size);
  line-height: var(--default-line-height);
  background-color: var(--gray);
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../../images/background.jpg");
  background-size: cover;
}
