:root {
  --text-font-size:          15px;
  --title-font-size:         20px;
  --default-line-height:     1.25;
  --default-letter-spacing:  2px;
  --margin-5:                5px;
  --padding-8-25:            8px 25px;
  --padding-5:               5px;
  --width-3:                 3px;
  --width-50:                50%;

  --solid-border:            solid;
  --radius-30:               30px;

  --opacity-40:              40%;

  --font-weight-500:         500;
  --font-montserrat:         'Montserrat', sans-serif;
}
